@media screen and (min-width: 320px) and (max-width: 1199px) {
  .container-top {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .container-top {
    padding-top: 0;
  }
  .doing__list {
    display: flex;    
    margin: -15px;
  }

  .doing__item {
    position: relative;
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
    z-index: -1;
  }

  .doing__title {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    line-height: 1.14;

    text-transform: uppercase;
    color: var(--button-color);
  }
}
