@media screen and (min-width: 320px) and (max-width: 767px) {
  .main__section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/mobile/bg-image1x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .main__section {
      background-image: url(../images/mobile/bg-image2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .main__section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/tablet/bg-image1x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .main__section {
      background-image: url(../images/tablet/bg-image2x.jpg);
    }
  }

  .main__title {
    width: 360px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .main__section {
    margin: 0 auto;
    padding: 118px 0;
    height: 400px;
    width: 100%;
    text-align: center;
  }

  .main__title {
    line-height: 1.6;
    font-size: 26px;    
  }

  .main__button {
    padding: 10px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .main__section {
    margin: 0 auto;
    padding: 200px 0;
    width: 100%;
    height: 600px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bg-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .main__section {
      background-image: url(../images/desktop/bg-image2x.jpg);
    }
  }

  .main__title {   
    line-height: 1.4;
    font-size: 44px;
    width: 696px;
  }

  .main__button {
    padding: 10px 32px;
  }
}

.main__title {
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
  // display: inline-block;
  text-align: center;
  color: var(--button-color);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.main__button {
  display: block;
  margin: 0 auto;
  color: var(--button-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--button-active);
  }
}
