body {
    background-color: var(--button-color);
    color: var(--primary-text-color);
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
  }

  .body.modal-open {
    overflow: hidden;
  }
  
  /* reset style*/

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  address {
    font-style: normal;
  }
  
  button {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-family: inherit;
  } 
 
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .item-svg {
    fill: currentColor;
  }