:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --background-color: #f5f4fa;
    --logo-color: #000000;
    --section-title-color: #2f303a;
    --button-color: #ffffff;
    --button-active: #188ce8;
    --header-border: #ececec;
  
    --border-color: #eeeeee;
    --background-social: #ffffff1a;
    --social-icon: #afb1b8;
  }

